<%- include("partials/header") -%>
<body>
  <div class="homepage">
      <nav>
          <h2 class="logo">SLAMBOOK</h2>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
          </ul>
          <a class="logout" href="/login" role="button">Login</a>
      </nav>
      <div class="mainSummary">
          <p>
              Million memories, million stories, good ones and bad ones, Write every story here so they are not forgotten
          </p>
      </div>
  </div>
<%- include("partials/footer") -%>