<%- include("partials/header") -%>
<body>
    <div class="homepage">
        <div class="profile_page">
            <nav>
                <h2 class="logo">SLAMBOOK</h2>
                <ul>
                    <a href="/profile">profile</a>
                </ul>
                <a class="logout" href="/login" role="button">Logout</a>
            </nav>
        </div>
        <div class="profile">
            <div class="up">
                <div class="image">
                    <form action="/profile" method="post">
                        <input type="text" name="Name" id="" placeholder="Name" autocomplete="off">
                        <input type="text" name="department" id="" placeholder="Department" autocomplete="off">

                    </form>
                    <a href="#">Edit Profil</a>
                    <div class="DOB">
                        <form  method="post">
                            <label for="DOB">DOB</label>
                            <input type="number" name="DOB" id="">
                        
                        </form>
                    </div>
                    
                </div>
                
            </div>
            <div class="about_me">
                <div class="hostels">
                    <div><form action="" method="post">
                        <label for="h_s">Hostel Stayed</label>
                        <input type="text" name="Hostels_Stayed" id="">
                    </form></div>
                    <div class="aboutme">
                        <form action="" method="post">
                            <label for="aboutme">ABOUT ME</label>
                            <input type="text" name="about_me" id="">
                        </form>
                        <a class="logout" href="/sg" role="button">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include("partials/footer") -%>